@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/neo.css";

* {
    box-sizing: border-box;
}

.container {
    width: 1024px;
    margin: auto;
}

.container > div {
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    margin-top: 10px ;
    box-shadow: 0 1px 2px rgba(#000, 0.2);
}

#js-preview {
    pre{
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    table {
        margin-bottom: 1rem;
        width: 100%;
    }

    table td, table th {
        padding: 7px 13px;
        border: 1px solid #f1f1f1;
        vertical-align: middle;
    }
}

.hidden {
    display: none !important;
}
